@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: rgb(232, 225, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

header {
  background-color: #270082;
  position: sticky;
  top: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: inline-flex;
}

header {
  background: var(--purple300);
  color: white;
}

li {
  color: white;
  padding: 16px 22px;
  /*padding: 16px;*/
}
.logo {
  padding: 16px 60px;
  font-family: sans-serif;
  font-size: 20px;
}
nav ul li:hover {
  background-color: red;
  color: white;
  transition: 0.4s ease-in;
}
nav ul li {
  border-bottom: 2px solid transparent;
}

.hero-section {
  background-image: url(first\ image.png);
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-section .contains {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 220px;
}

.hero-section .contains h1 {
  font-size: 52px;
}
.hero-section .contains h3 {
  font-size: 28px;
}

.music-section {
  padding-top: 80px;
  background-color: var(--purple500);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: white;
  max-height: 550px;
}
.ipad-iphone-img {
  position: relative;
  top: 400px;
  
}

.primary-button {
  border-radius: 5px;
  padding: 10px;
  background-color: var(--red600);
  color: white;
}
.primary-button:hover {
  transition: 0.4s ease-in-out;
  background-color: white;
  color: black;
}

.about-music {
  padding-top: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.about-music h3 {
  font-size: 20px;
  font-weight: 700;
}

.secondary-button {
  border-radius: 3px;
  padding: 7px;
  background-color: var(--purple300);
  color: white;
}
.video-music video
{
  background-color: #4d2f93;
  margin-top: 0px;
  margin-bottom: 20px;
  width:100%;
  height:600px;
}
.video-section {
  background-image: url(video.png);
  min-height: 800px;
  display: grid;
  place-items: center;
  color: white;
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
}

.about-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.about-video h3 {
  font-size: 22px;
  font-weight: bold;
}

.about-video h4 {
  padding-left: 110px;
  padding-right: 90px;
  font-size: 16px;
}

.gift-container {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}

.gift-img {
  padding-top: 100px;
  /*padding-left: 35px;
    padding-right: 35px;*/
}

.about-gift {
  padding-top: 60px;
  line-height: 1cm;
  padding-bottom: 40px;
}

.link{
  display: block;
}
.link li{
    color: #000;
    padding: 5px 80px;
    gap:5px;
    color: white;
    
}
.footer-container
{
  background-color: var(--purple500);
  gap:4px;
 
}
.footer-links
{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-container h4
{
  padding-bottom: 14px;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}
.Bottom-footer
{
  background-color: var(--purple300);
  padding: 20px;
  text-align: center;
  color: white;
}

@media screen and (max-width:1024px)
{
  .link li{
    padding: 5px 60px;
    gap:5px;  
}

.video-music video
{
  margin-top: 0px;
  width:1024px;
  height:600px;
}

}

@media screen and (max-width:768px)
{
  .ipad-phone-img img{
    position: relative;
    top:90px;
    width:700px;
    z-index: 30;
  }
  .mac-img img
  {
   width:700px;
  }
  .gift-section
  {
    width:700px;
  }
  .music-section {
    padding-top: 80px;
    padding-left: 20px;
    gap: 20px;
  }
  
  .link li{
    padding: 5px 20px;
    gap:5px;  
}
.about-gift {
  padding-right: 0px;
  line-height: 0.5cm;
  padding-right: 4px;
}
.gift-container {
  display: flex;
  gap:40px;

 
}
.gift-img img
{
  width:300px;
}
.video-section {
  padding: 0 40px;
  min-height: 700px;
}
.ipad-iphone-img {
  top: 50px;
  z-index: 550;
}
.about-music {
  padding-top: 500px;
  padding-left: 30px;
  padding-right:30px;
  gap: 30px;
}

.video-music video
{
  margin-top: 0px;
  width:768px;
  height:600px;
}

}

@media screen and (max-width:520px)
{
.video-music video
{
  margin-top: 0px;
  width:425px;
  height:600px;
}

.gift-container {
  display: flex;
 padding: 0;
}

.mac-img img
  {
   width:425px;
  }
  .ipad-phone-img img{

    width:425px;
    
  }
  li {
    color: white;
    padding: 4px 3px;
    /*padding: 16px;*/
  }
  .gift-section
  {
    width:425px;
  }
  .gift-container {
    display: block;
  }
  .about-gift {
    padding-left: 7px;
  }
  .hero-section .contains p 
  {
    font-size: small;
  }
  .hero-section .contains h3 {
    font-size: 20px;
  }

}

